* {
    padding: 0;
    margin: 0;

}

body {
   font-family: 'Times New Roman', Times, serif;

}
.collapse{
    margin-top:20px;
    
}
.topbar{
    position: sticky;
}
.star{
    margin-left:100px;
}

.hi-arrange2{
    font-size:5vh ;
    font-weight: 600;
}

.hi-arrange{
    color:  #f2335e; margin-right:13vh;
}
.navbar{
   height:70px;

}


.hi1 {
    background-color: black;
}

.hi2 {
    display: flex;
    color: white;
    list-style: none;

}

.hi3 {
    margin-left: 30px;
}

.hi4 {
    margin-left:800px;
    background-color: rgba(74, 74, 216, 0.896);
    
    text-align: center;
    text-decoration: none;

    color: white;
}

.h4:hover {
    content: "";
    position: relative;
    background-color: red;

}

.hi5 {
    margin-left: 50px;
    background-color: green;
    width: 50px;
    border-radius: 10px;
    text-align: center;
    color: white;
    text-decoration: none;


}

.navbar-brand {
    margin-left: 15%;
    font-size: small;
    
}

.hi6 {
    margin-left: 20px;
    display: inline-block;
    margin-top: -10px;
   text-align: justify;
}
.hi7{
margin-top:-45px;

text-align: justify;
margin-left: 330px;
}
.fa-whatsapp{
    font-size: 30px;
    margin-top: 20px;
    margin-right:px;
    margin-left: 300px;
}

.hi8 {
   

margin-right:10px;
font-size:5vh;font-weight: 500;
text-align: justify;
}
.hi9 {
   

    margin-right:60%;
    text-align: justify;
   

    }
    .hi10{
margin-right:0%;
text-align: justify;
color: wheat;
font-size:5vh ; font-weight: 500;

    }
    .hi10-mange{

        margin-right: 650px;
        margin-bottom:px;
        font-size:5vh;
        font-weight: 500;
        color: whitesmoke;
    }
    .hi11-mange{
        margin-right:200px;
        margin-bottom:100px;
        color:whitesmoke;
    text-align: justify;
    }
    .hi-manage{
        text-align: justify;
    }
    .hi11{
        margin-right:18%;
            }
            .hi12{
                margin-right:40%;
                font-size: 5vh;
                font-weight: 600;
            }
            .hi-manage2{
            font-size:30px !important;
            
                margin-top: 50px
            }
            .hi13{
                margin-right:;
            }

.hi16{
    text-align: center;
}

.hi15{
    height:740px!important;;
}
.hi17{
    background-color: #f4f8ff;
    width: ;
}
/*---services section ---*/

.cola-services {
    float: left;
    list-style: outside none none;
    padding-left: 0;
    width: 100%;
}

.cola-services>li {
    background: #f4f8ff none repeat scroll 0 0;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 6px;
    padding: 30px;
    vertical-align: top;
    width: 49.2%;
    border: 1px solid #eaeff9;
}
.cola-services>li:hover{
    box-shadow: 10px 10px 5px 0px rgba(219,235,233,0.75);
    -webkit-box-shadow: 10px 10px 5px 0pxrgba(219,235,233,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(219,235,233,0.75);

}

.cola-services>li:last-child {
    margin-bottom: 0;
}

.cola-services>li figure {
    display: table-cell;
    max-width: 50px;
    vertical-align: top;
    width: 50px;
}

.cola-services>li>i {
    color: #7d8494;
    display: table-cell;
    font-size: 20px;
    vertical-align: top;
}

.cola-services>li figure i {
    font-size: 20px;
}

.services-meta {
    display: table-cell;
    padding-left: 20px;
    vertical-align: top;
}

.services-meta>h4 {
    display: inline-block;
    font-size: 23px;
    padding-bottom: 13px;
    width: 100%;
    text-transform: capitalize;
}

.services-meta>p {
    color: #7c8393;
}
.heading{
    text-align: center;
}


.review-caro1{
    display: flex;
    list-style: outside none none;
    padding: 0 80px;
    width: 100%;
}

.review-meta {
    display: inline-block;
    padding: 20px 0;
    position: relative;
    width: 100%;
    margin-left:;
}
.review-meta2{
margin-left: 15px;
}

.review-meta::before {
    content: "\f10d";
    font-family: fontawesome;
    left: 0;
    position: absolute;
    top: 0;
    font-size: 20px;
}

.review-meta>p {
    margin-bottom: 20px;
    margin-top: 10px;
}

.review-face {
    float: left;
    margin-top: 20px;
    padding-left: 70px;
    position: relative;
    width: 100%;
}

.review-face>img {
    border-radius: 100%;
    display: inline-block !important;
    max-width: 70px;
    min-width: 70px;
    vertical-align: middle;
}

.review-face>div {
    display: inline-block;
    padding-left: 15px;
    vertical-align: middle;
    width: 80%;
}

.review-face>div h4 {
    font-size: 18px;
    letter-spacing: 0.3px;
    text-transform: capitalize;
}

.review-face>div span {
    color: #999;
    font-size: 13px;
}

.review-face::before {
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
}

.owl-prev::before,
.owl-next::before {
    background: #7ba8f9 none repeat scroll 0 0;
    color: #fff;
}

.review-caro .owl-nav {
    bottom: 40px;
    right: 100px;
    top: auto;
}

.tab-pane .colla-table:last-child {
    margin-bottom: 0;
}

.tab-pane .reviewers {
    margin-top: 0;
}

.profile-dp .note-box {
    margin-bottom: 0;
    margin-top: 30px;
    text-align: left;
}

.advertising-box {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.baner-meta {
    color: #fff;
    display: inline-block;
    padding: 50px 30px;
    text-align: center;
    width: 100%;
}

.baner-meta>span {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 7px;
    text-transform: uppercase;
    width: 100%;
}

.baner-meta>p {
    color: #afafaf;
    font-size: 15px;
    line-height: 22px;
    margin-top: 20px;
}

.baner-meta>a {
    border-radius: 30px;
    display: inline-block;
    font-weight: 600;
    margin-top: 30px;
    padding: 9px 40px;
    transition: all 0.2s linear 0s;
}

.baner-meta>a:hover {
    background: #fff;
    color: #333;
}

.advertising-box>span {
    color: #999;
    display: inline-block;
    font-size: 10px;
    line-height: 10px;
    padding-left: 8px;
    width: 100%;
}
.stars-rating{
    display: flex;
    list-style: none;
}





.sidebar {
    display: inline-block;
    width: 100%;
} 
.space-70{
    background-color: #f4f8ff !important;
    height:250px;
    
}
.ride-title{
    display: flex;
    justify-content: space-between;
    margin-top:40px;
   
}
a{
    text-decoration: none;
    color: #222;
}
.ride-rent{
    background-color:white;
    height:100px;
    margin-top:10px;

   text-align: center;
  

}
.ride-rent>i{
margin-left:220px;

}

.ride-rent:hover{
    box-shadow: 10px 10px 5px 0px rgba(219,235,233,0.75);
    -webkit-box-shadow: 10px 10px 5px 0pxrgba(219,235,233,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(219,235,233,0.75);
}
.stars-rating{
   display: flex; 
}

.renter>img{
    border-radius:50px;
    margin-top:-140px;
}
.stars-rating>i{
display: flex;

}
.hi18{
    margin-left:80px;
   
}
.checked{
    color:goldenrod;
}
.hi19{
    display: flex;
    list-style: none;
    margin-right:10px;
    margin-top:px;
    
    text-align: justify;
    
   
}



.counter {
    background-color:#f5f5f5;
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}





.hi20{
    margin-left:200px;
   
}
.rider{
    list-style: none;
    
}
.rider-avatar>img{
border-radius:50px;
margin-left:20px;

}
.hi21{
    display: flex;
    background-color: #f4f8ff;
    height:100px;
    align-items: center;
}
.hi21:hover{
    
  
    
    box-shadow: 29px -5px 18px -8px  rgba(219,235,233,0.75);
-webkit-box-shadow: 29px -5px 18px -8px  rgba(219,235,233,0.75);
-moz-box-shadow: 29px -5px 18px -8px rgba(219,235,233,0.75);

}
.rider-meta{
   margin-left:20px;
   text-align: justify;
   margin-top: 15px;
}
.price{
    margin-left:190px;
}
.light{
    background-color:  #f4f8ff ;
}


/* 
footer classes */
.hi22{
    background-color: #f4f8ff;
}
.serviz-meta{
    font-size: 25px;
    margin-left: 10px;
}
.fa-location-dot{
    font-size: 40px;
    margin-top:50px;
    
   
}
.servize{
    margin-left:28px;
   margin-top:-70px;
   font-weight: 300;
   font-size: 25px;
}
.serviz-meta1{
    font-size:25px;
    margin-left:50px;
    margin-top:-40px;
}
.servize1{
    margin-left:28px;
 
} 
.fa-phone{
    font-size: 40px;
    margin-top:50px;
    display: inline-block;
}



 .serviz-meta2{
    font-size:25px;
    margin-left:50px;
    margin-top:-40px;
}
.servize2{
    margin-left:28px;
 
} 
.fa-arrow-rotate-left{
    font-size: 40px;
    margin-top:50px;
    display: inline-block;
} 











.servize {
    display: inline-block;
    width: 100%;
    padding: 40px 0;
    margin-left: 50px;
}

.servize>i {
    display: inline-block;
    font-size: 50px;
    vertical-align: middle;
}

.serviz-meta {
    display: inline-block;
    padding-left: 15px;
    vertical-align: middle;
    width: 85%;
}

.serviz-meta>span {
    display: inline-block;
    font-size: 23px;
    font-weight: 200;
    line-height: 26px;
    margin-bottom: 5px;
    text-transform: capitalize;
    vertical-align: middle;
    width: 100%;
}

.serviz-meta>i {
    display: inline-block;
    font-size: 19px;
    font-style: normal;
    width: 100%;
}

.space.dark-bg {
    background: #f4f8ff;
}

.space.dark-bg .container {
    border-bottom: 1px solid #d9d9dc;
}

.cola-head>p {
    display: inline-block;
    float: right;
    color: #eee;
}

/*--- points ---*/

.points {
    border: 1px solid #e6e8ec;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 30px;
    padding: 30px;
    width: 100%;
}

.points figure {
    display: inline-block;
    vertical-align: top;
}

.points .services-meta {
    display: inline-block;
    vertical-align: top;
    width: 90%;
}

.points figure>i {
    font-size: 45px;
}

/*latest review home page ----*/

.review-caro {
    display: inline-block;
    list-style: outside none none;
    padding: 0 80px;
    width: 100%;
}

.review-meta {
    display: inline-block;
    padding: 20px 0;
    position: relative;
    width: 100%;
}

.review-meta::before {
    content: "\f10d";
    font-family: fontawesome;
    left: 0;
    position: absolute;
    top: 0;
    font-size: 20px;
}

.review-meta>p {
    margin-bottom: 20px;
    margin-top: 10px;
}

.review-face {
    float: left;
    margin-top: 20px;
    padding-left: 70px;
    position: relative;
    width: 100%;
}

.review-face>img {
    border-radius: 100%;
    display: inline-block !important;
    max-width: 70px;
    min-width: 70px;
    vertical-align: middle;
}

.review-face>div {
    display: inline-block;
    padding-left: 15px;
    vertical-align: middle;
    width: 80%;
}

.review-face>div h4 {
    font-size: 18px;
    letter-spacing: 0.3px;
    text-transform: capitalize;
}

.review-face>div span {
    color: #999;
    font-size: 13px;
}

.review-face::before {
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
}

.owl-prev::before,
.owl-next::before {
    background: #7ba8f9 none repeat scroll 0 0;
    color: #fff;
}

.review-caro .owl-nav {
    bottom: 40px;
    right: 100px;
    top: auto;
}

.tab-pane .colla-table:last-child {
    margin-bottom: 0;
}

.tab-pane .reviewers {
    margin-top: 0;
}

.profile-dp .note-box {
    margin-bottom: 0;
    margin-top: 30px;
    text-align: left;
}

.advertising-box {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.baner-meta {
    color: #fff;
    display: inline-block;
    padding: 50px 30px;
    text-align: center;
    width: 100%;
}

.baner-meta>span {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 7px;
    text-transform: uppercase;
    width: 100%;
}

.baner-meta>p {
    color: #afafaf;
    font-size: 15px;
    line-height: 22px;
    margin-top: 20px;
}

.baner-meta>a {
    border-radius: 30px;
    display: inline-block;
    font-weight: 600;
    margin-top: 30px;
    padding: 9px 40px;
    transition: all 0.2s linear 0s;
}

.baner-meta>a:hover {
    background: #fff;
    color: #333;
}

.advertising-box>span {
    color: #999;
    display: inline-block;
    font-size: 10px;
    line-height: 10px;
    padding-left: 8px;
    width: 100%;
}


.sidebar {
    display: inline-block;
    width: 100%;
}

.text-area{
    background-color: white;
height: 50px;
width:250px;
}
.fa-paper-plane{
    
}

.last{
    margin-left:83%;
    margin-top:-100px;
}
.copyright{
    margin-top:30px;
    font-size: large;
}
.social{
    font-size:30px;
}
.border{
    background-color:;
}
.border:hover{
    background-color:rgba(240, 89, 89, 0.915);
}

.light{
height:100%;

}
.bottombra{
    height:100px;
    background-color: #e7ebf3 ;
}
.btn-info{
    color:black !important;
    background-color:  rgba(219,235,233,0.75);
}


